
.books-list{
  padding: 20px;
  margin: 0 auto;
  max-width: 1100px;
}

.book-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 20px;
  width: 100%;
}

.pagination {
  justify-content: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}