
<div class="books-list">
  <div class="book-card">
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
  </div>
</div>