<main class="form-signin w-100 m-auto">
  <form [formGroup]="userData" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Sign up</h1>

    <div class="form-floating">
      <input formControlName="email" required type="email" class="form-control" id="floatingInput">
      <label for="floatingInput">Email address</label>

      <div class="invalid-message" *ngIf="userData.controls['email'].invalid &&
        (userData.controls['email'].dirty || userData.controls['email'].touched)">
        <div *ngIf="userData.controls['email'].hasError('required')">
          Email is required.
        </div>
        <div *ngIf="userData.controls['email'].hasError('email')">
          Please enter valid email address.
        </div>
      </div>
    </div>

    <div class="form-floating">
      <input formControlName="password" required type="password" class="form-control" id="floatingPassword">
      <label for="floatingPassword">Password</label>

      <div class="invalid-message" *ngIf="userData.controls['password'].invalid &&
      (userData.controls['password'].dirty || userData.controls['password'].touched)">
        <div *ngIf="userData.controls['password'].hasError('required')">
          Password is required.
        </div>
        <div *ngIf="userData.controls['password'].hasError('minlength')">
          Password must be more than 6 symbols.
        </div>
      </div>
    </div>
    <button [disabled]="!userData.valid" class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>
</main>